spring-batch-example/src/main/resources/HelloWorldService.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions name="HelloWorldService"
	targetNamespace="http://helloworldservice.omegacode.org/wsdl/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://helloworldservice.omegacode.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:do="http://helloworldservice.omegacode.org/schema/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
		<xs:schema targetNamespace="http://helloworldservice.omegacode.org/schema/"
			attributeFormDefault="unqualified" elementFormDefault="unqualified"
			xmlns:tns="http://helloworldservice.omegacode.org/schema/"
			xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:element name="NumeroCartao" type="tns:NumeroCartao" />
			<xs:element name="Mensagem" type="tns:Mensagem" />
			<xs:element name="Erro" type="tns:Erro" />
			<xs:complexType name="NumeroCartao">
				<xs:sequence>
					<xs:element name="conteudo" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Mensagem">
				<xs:sequence>
					<xs:element name="conteudo" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Erro">
				<xs:sequence>
					<xs:element name="conteudo" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://helloworldservice.omegacode.org/wsdl/"><xsd:complexType name="NumeroCartao"></xsd:complexType><xsd:complexType name="Mensagem"></xsd:complexType></xsd:schema>
    </wsdl:types>
	<wsdl:message name="DigaOlaRequisicao">
		<wsdl:part name="parametro" type="tns:NumeroCartao" />
	</wsdl:message>
	<wsdl:message name="DigaOlaResposta">
		<wsdl:part name="mensagem" type="tns:Mensagem" />
	</wsdl:message>
	<wsdl:message name="StatusException">
		<wsdl:part name="StatusException" type="do:Erro" />
	</wsdl:message>
	<wsdl:portType name="DigaOla_PortType">
		<wsdl:documentation> A operacao digaOla recebe um NumeroCartao por parametro e
			devolve um cumprimento ou erro em situacoes especificas
		</wsdl:documentation>
		<wsdl:operation name="message">
			<wsdl:input name="DigaOlaRequisicao" message="tns:DigaOlaRequisicao" />
			<wsdl:output name="DigaOlaResposta" message="tns:DigaOlaResposta" />
			<wsdl:fault name="StatusException" message="tns:StatusException" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="DigaOla_SoapBinding" type="tns:DigaOla_PortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="message">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="DigaOlaRequisicao">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="DigaOlaResposta">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="StatusException">
				<soap:fault name="StatusException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="HelloWorldService">
		<wsdl:port name="HelloWorldService_Port" binding="tns:DigaOla_SoapBinding">
			<soap:address location="http://www.omegacode.org/HelloWorldService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>